ul.store-list.row
    li
        a(href="#") Ашан
    li 
        a(href="#") Перекресток
    li
        a(href="#") Метро
    li 
        a(href="#") Пятерочка
    li
        a(href="#") Билла
    li
        a(href="#") Дикси