<a ui-sref="productCard" product='productModel.product'>
    <li>{{productModel.product.name}}<span> {{productModel.product.price}} </span></li>
    <!--<p ng-click="productModel.showProductCard()">Show</p>
<p ng-click='productModel.goUp()'> UP</p>
<a ui-sref="home">
    <div>hey</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nulla doloribus itaque, reprehenderit id, porro adipisci
        voluptate, eius delectus non eum, iure laboriosam facilis quisquam facere reiciendis inventore rerum officia.</p>
</a>-->
</a>